
.vs/BlackJackGroup4/FileContentIndex/d81f45df-be45-43e5-8f57-c16146f3b9f1.vsidx
.vs/BlackJackGroup4/v17/.suo
.vs/BlackJackGroup4/v17/DocumentLayout.json
.vs/OOP3BlackJackG4v5/v17/.wsuo
.vs/OOP3BlackJackG4v5/v17/DocumentLayout.json
BlackJackGroup4/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
BlackJackGroup4/obj/Debug/BlackJackGroup4.BlackJackWelcome.resources
BlackJackGroup4/obj/Debug/BlackJackGroup4.csproj.AssemblyReference.cache
BlackJackGroup4/obj/Debug/BlackJackGroup4.csproj.CoreCompileInputs.cache
BlackJackGroup4/obj/Debug/BlackJackGroup4.csproj.FileListAbsolute.txt
BlackJackGroup4/obj/Debug/BlackJackGroup4.csproj.GenerateResource.cache
BlackJackGroup4/obj/Debug/BlackJackGroup4.exe
BlackJackGroup4/obj/Debug/BlackJackGroup4.frmSinglePlayer.resources
BlackJackGroup4/obj/Debug/BlackJackGroup4.gameSettings.resources
BlackJackGroup4/obj/Debug/BlackJackGroup4.LaunchScreen.resources
BlackJackGroup4/obj/Debug/BlackJackGroup4.multiPlayerMenu.resources
BlackJackGroup4/obj/Debug/BlackJackGroup4.multiPlayerSettings.resources
BlackJackGroup4/obj/Debug/BlackJackGroup4.pdb
BlackJackGroup4/obj/Debug/BlackJackGroup4.Properties.Resources.resources
BlackJackGroup4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
